<!-- portfolio Grid Section -->
<div class="subheading"><h1> Book Reviews </h1> </div>
<div class="portfolio-grid">
    
    {% for item in site.books %}
        <a href="{{ site.baseurl }}{{ item.url }}" class="portfolio-link" data-keyboard="true">
            <div class="book-cell">
            <div class="caption" title="{{ item.title }}">
                <div class="caption-content">
                    <i class="fa fa-search-plus fa-3x"></i>
                </div>
            </div>
            <img src="{{ site.baseurl }}/{{ item.img }}" class="book-img" alt="">
        <div class = "book-caption">{{item.title}}</div>
        </div>
        </a>
        
    {% endfor %}
</div>
<div class="subheading" ><br/><br/><a href="https://www.goodreads.com/review/list/16616412-nandita-damaraju"><h2> Check out more books I've read </h2></a></div>
